body {
	background-image: url("../imagem/background/Unipê.jpg");
	background-color: #87CEEB;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

label {
	color: white; 
	font-family: 'Open Sans', sans-serif; 
}

h1 {
	 color: white; 
	 font-family: 'Open Sans', sans-serif; 
	 text-align: center; 
}

h2 {
	color: white;
	font-family: 'Open Sans', sans-serif;
}


/* mouse over link */
a:link, a:visited {
    background-color: #A9A9A9;
    color: white;
	font-family: 'Open Sans', sans-serif;
    padding: 28px 50px;
    margin-top: 20px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    border-style: outset;
}

a:hover, a:active {
    background-color: #DCDCDC;
}

a.linkMatricula {
	background-image: url("../imagem/Icons/icon_matricula.svg");
    background-repeat: no-repeat;

}

a.linkBuscarCurso {
	background-image: url("../imagem/Icons/icon_buscarCurso.svg");
	background-repeat: no-repeat;

}

a.linkVoltar {
	background-image: url("../imagem/Icons/icon_voltar.svg");
	background-repeat: no-repeat;
}

main {
	text-align: center;
}

table{
	margin: 10px;
	border: 1px solid #000000;
	margin-right:auto; 
	margin-left:auto;
	}

table,th,td{
	border-collapse: inherit;
	}
	
th,td{
	border: 1px solid #000000;
	padding: 0px;
	}
	
th span{
	display: block; 
	padding: 3px;
	color: #DCDCDC;
	}
	
td span{
	display: block; 
	padding: 3px;
	text-align : center;
	width: 200px;
	height: 70px;
	overflow: auto;
	color: #DCDCDC !important;
	}